In [2]:
link = 'https://raw.githubusercontent.com/deedy/gradcafe_data/master/all/all_clean.csv'

In [3]:
import pandas as pd
import numpy as np

In [4]:
df = pd.read_csv(link, header = None)
df.head()

/usr/local/lib/python3.8/dist-packages/IPython/core/interactiveshell.py:3326: DtypeWarning: Columns (4,13) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18
0,0,University Of Southern California (USC),Ms. Green Technologies,MS,S16,Accepted,E-mail,"(5, 11, 2015)",1.446700e+09,NaN,NaN,NaN,NaN,NaN,NaN,American,"(17, 11, 2015)",1447736400,Hard work has paid off. Financial aid offer ha...
1,1,Vanderbilt University,Education: Special Education,MS,F16,Other,Other,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,American,"(17, 11, 2015)",1447736400,Hello everyone! I am wondering if I even have ...
2,2,University Of Pittsburgh,Public Heath,MS,F16,Accepted,E-mail,"(16, 11, 2015)",1.447650e+09,NaN,NaN,NaN,NaN,NaN,NaN,American,"(16, 11, 2015)",1447650000,Short email acceptance. Letter to follow.
3,3,Tufts University,Computer Science,PhD,S16,Accepted,E-mail,"(16, 11, 2015)",1.447650e+09,3.6,166.0,163.0,4.5,True,NaN,American,"(16, 11, 2015)",1447650000,Met with professor beforehand. 1 year academic...
4,4,University Of Edinburgh,Theoretical Physics,MS,F16,Accepted,Website,"(16, 11, 2015)",1.447650e+09,NaN,NaN,NaN,NaN,NaN,NaN,International,"(16, 11, 2015)",1447650000,The time when I applied for the course was 1st...

In [5]:
col = ['rowid', 'uni_name', 'major', 'degree', 'season', 'decision','decision_method','decision_date','decision_timestamp','ugrad_gpa',
       'gre_verbal','gre_quant', 'gre_writing', 'is_new_gre', 'gre_subject','status','post_date','post_timestamp', 'comments']

In [6]:
df.columns = col
df.head()

,rowid,uni_name,major,degree,season,decision,decision_method,decision_date,decision_timestamp,ugrad_gpa,gre_verbal,gre_quant,gre_writing,is_new_gre,gre_subject,status,post_date,post_timestamp,comments
0,0,University Of Southern California (USC),Ms. Green Technologies,MS,S16,Accepted,E-mail,"(5, 11, 2015)",1.446700e+09,NaN,NaN,NaN,NaN,NaN,NaN,American,"(17, 11, 2015)",1447736400,Hard work has paid off. Financial aid offer ha...
1,1,Vanderbilt University,Education: Special Education,MS,F16,Other,Other,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,American,"(17, 11, 2015)",1447736400,Hello everyone! I am wondering if I even have ...
2,2,University Of Pittsburgh,Public Heath,MS,F16,Accepted,E-mail,"(16, 11, 2015)",1.447650e+09,NaN,NaN,NaN,NaN,NaN,NaN,American,"(16, 11, 2015)",1447650000,Short email acceptance. Letter to follow.
3,3,Tufts University,Computer Science,PhD,S16,Accepted,E-mail,"(16, 11, 2015)",1.447650e+09,3.6,166.0,163.0,4.5,True,NaN,American,"(16, 11, 2015)",1447650000,Met with professor beforehand. 1 year academic...
4,4,University Of Edinburgh,Theoretical Physics,MS,F16,Accepted,Website,"(16, 11, 2015)",1.447650e+09,NaN,NaN,NaN,NaN,NaN,NaN,International,"(16, 11, 2015)",1447650000,The time when I applied for the course was 1st...

In [7]:
df.dropna(axis =0, inplace= True)
df.head()

,rowid,uni_name,major,degree,season,decision,decision_method,decision_date,decision_timestamp,ugrad_gpa,gre_verbal,gre_quant,gre_writing,is_new_gre,gre_subject,status,post_date,post_timestamp,comments
399,399,Stanford University,Biosciences (Biology And Neurosciences),PhD,F15,Rejected,Postal Service,"(10, 2, 2015)",1.423544e+09,3.55,157.0,163.0,4.0,True,670.0,International,"(6, 8, 2015)",1438833600,"Preliminary master's GPA 3.45, Subject GRE Bio..."
400,400,Princeton University,Molecular Biology,PhD,F15,Rejected,E-mail,"(26, 2, 2015)",1.424927e+09,3.55,157.0,163.0,4.0,True,670.0,International,"(6, 8, 2015)",1438833600,"Preliminary master's GPA 3.45, Subject GRE Bio..."
401,401,"University Of California, San Diego (UCSD)",Biomedical Sciences,PhD,F15,Rejected,E-mail,"(4, 3, 2015)",1.425445e+09,3.55,157.0,163.0,4.0,True,670.0,International,"(6, 8, 2015)",1438833600,"Preliminary master's GPA 3.45, Subject GRE Bio..."
402,402,"University Of California, Los Angeles (UCLA)",Molecular Biology / Cell And Developmental Bio...,PhD,F15,Rejected,E-mail,"(5, 3, 2015)",1.425532e+09,3.55,157.0,163.0,4.0,True,670.0,International,"(6, 8, 2015)",1438833600,"Preliminary master's GPA 3.45, Subject GRE Bio..."
403,403,University Of Chicago (UChicago),Molecular Biosciences - Cell And Molecular Bio...,PhD,F15,Accepted,E-mail,"(30, 1, 2015)",1.422594e+09,3.55,157.0,163.0,4.0,True,670.0,International,"(6, 8, 2015)",1438833600,"Preliminary master's GPA 3.45, Subject GRE Bio..."

In [8]:
df.columns

Index(['rowid', 'uni_name', 'major', 'degree', 'season', 'decision',
       'decision_method', 'decision_date', 'decision_timestamp', 'ugrad_gpa',
       'gre_verbal', 'gre_quant', 'gre_writing', 'is_new_gre', 'gre_subject',
       'status', 'post_date', 'post_timestamp', 'comments'],
      dtype='object')

In [ ]:
df['uni_name'].unique()

In [14]:
sel = ['Stanford University', 'University Of California, San Diego (UCSD)','University Of California, Los Angeles (UCLA)',
'Harvard University','Carnegie Mellon University (CMU)','University Of Michigan, Ann Arbor (UMich)', 'Yale University',
'University Of California, Berkeley (UCB)', 'University Of Alberta', 'Cornell University']

In [15]:
df1 = df[df['uni_name'].isin(sel)]
df1.head()

,rowid,uni_name,major,degree,season,decision,decision_method,decision_date,decision_timestamp,ugrad_gpa,gre_verbal,gre_quant,gre_writing,is_new_gre,gre_subject,status,post_date,post_timestamp,comments
399,399,Stanford University,Biosciences (Biology And Neurosciences),PhD,F15,Rejected,Postal Service,"(10, 2, 2015)",1.423544e+09,3.55,157.0,163.0,4.0,True,670.0,International,"(6, 8, 2015)",1438833600,"Preliminary master's GPA 3.45, Subject GRE Bio..."
401,401,"University Of California, San Diego (UCSD)",Biomedical Sciences,PhD,F15,Rejected,E-mail,"(4, 3, 2015)",1.425445e+09,3.55,157.0,163.0,4.0,True,670.0,International,"(6, 8, 2015)",1438833600,"Preliminary master's GPA 3.45, Subject GRE Bio..."
402,402,"University Of California, Los Angeles (UCLA)",Molecular Biology / Cell And Developmental Bio...,PhD,F15,Rejected,E-mail,"(5, 3, 2015)",1.425532e+09,3.55,157.0,163.0,4.0,True,670.0,International,"(6, 8, 2015)",1438833600,"Preliminary master's GPA 3.45, Subject GRE Bio..."
407,407,Harvard University,BBS,PhD,F15,Rejected,E-mail,"(16, 3, 2015)",1.426478e+09,3.55,157.0,163.0,4.0,True,670.0,International,"(6, 8, 2015)",1438833600,"Preliminary master's GPA 3.45, Subject GRE Bio..."
3980,3980,Carnegie Mellon University (CMU),Physics,PhD,F15,Rejected,E-mail,"(15, 4, 2015)",1.429070e+09,3.67,162.0,167.0,4.0,True,910.0,International,"(15, 4, 2015)",1429070400,This season is over... rejected off the waitlist

In [16]:
df1.columns

Index(['rowid', 'uni_name', 'major', 'degree', 'season', 'decision',
       'decision_method', 'decision_date', 'decision_timestamp', 'ugrad_gpa',
       'gre_verbal', 'gre_quant', 'gre_writing', 'is_new_gre', 'gre_subject',
       'status', 'post_date', 'post_timestamp', 'comments'],
      dtype='object')

In [17]:
rem = ['rowid', 'decision_method', 'decision_date', 'decision_timestamp', 'is_new_gre','post_date', 'post_timestamp', 'comments']

In [18]:
df1 = df1.drop(columns= rem)
df1.head()

,uni_name,major,degree,season,decision,ugrad_gpa,gre_verbal,gre_quant,gre_writing,gre_subject,status
399,Stanford University,Biosciences (Biology And Neurosciences),PhD,F15,Rejected,3.55,157.0,163.0,4.0,670.0,International
401,"University Of California, San Diego (UCSD)",Biomedical Sciences,PhD,F15,Rejected,3.55,157.0,163.0,4.0,670.0,International
402,"University Of California, Los Angeles (UCLA)",Molecular Biology / Cell And Developmental Bio...,PhD,F15,Rejected,3.55,157.0,163.0,4.0,670.0,International
407,Harvard University,BBS,PhD,F15,Rejected,3.55,157.0,163.0,4.0,670.0,International
3980,Carnegie Mellon University (CMU),Physics,PhD,F15,Rejected,3.67,162.0,167.0,4.0,910.0,International